
.ColorDark {
	background: black !important;
	color: white !important;
}
.ColorJudas {
	background: black !important;
	color: #08ff08 !important;
}
.ColorRomantic {
	background: black !important;
	color : #ff9dae !important;
}